<!DOCTYPE html>
<html ng-app="ApplyApp">

<head>
    <meta charset="utf-8">
    <title>校園無線網路網卡登記系統</title>
    <link rel="icon" type="image/x-icon" href="images/nutc.ico">
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
    <!-- Load Bootstrap and JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootpag/1.0.7/jquery.bootpag.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script>
    var app = angular.module('ApplyApp', [])
        .factory('userService', function() {
            return {
                addUserDevice: function($scope, $http) {
                    // Post Add by Ajax
                    jQuery('#ajaxWaitingModal').modal("show");
                    $http({
                        method: 'POST',
                        url: '/web/user/add',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        data: {
                            crtUid: $scope.applicantId,
                            crtName: $scope.applicantName,
                            applicantId: $scope.applicantId,
                            applicantName: $scope.applicantName,
                            macAddress: $scope.macAddress.toLowerCase()

                        }
                    }).then(function successCallback(response) {
                        // 檢查是否有檢核錯誤
                        if (response.data.status === 0) {
                            // 新增一筆資料
                            $scope.userDevices.push(response.data.data);
                            // 清除 Form
                            $scope.macAddress = '';
                        } else if (response.data.status === -1) {
                            alert(response.data.message);
                        } else {
                            alert(response);
                        }
                        // 關閉等待視窗
                        jQuery('#ajaxWaitingModal').modal("hide");

                    }, function errorCallback(response) {
                        alert("執行發生錯誤!!");
                        var myWindow = window.open("", "", "width=600,height=300", false);
                        myWindow.document.write(JSON.stringify(response.data));
                        // 關閉等待視窗
                        jQuery('#ajaxWaitingModal').modal("hide");
                    });
                },
                updateUserDevice: function($scope, $http) {
                    var deviceName = $scope.userDevices[$scope.updateIndex]['deviceName'];
                    var deviceGroup = $scope.userDevices[$scope.updateIndex]['deviceGroup'];
                    // 檢查網卡是否有修改
                    if ($scope.macAddress.toLowerCase() == $scope.userDevices[$scope.updateIndex]['macAddress']) {
                        alert('網卡沒有異動，請重新確認!');
                        return;
                    }

                    // Post Update by Ajax
                    jQuery('#ajaxWaitingModal').modal("show");
                    $http({
                        method: 'PUT',
                        url: '/web/user/update',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        data: {
                            deviceGroup: deviceGroup,
                            updUid: $scope.applicantId,
                            updName: $scope.applicantName,
                            deviceName: deviceName,
                            applicantId: $scope.applicantId,
                            applicantName: $scope.applicantName,
                            macAddress: $scope.macAddress.toLowerCase()

                        }
                    }).then(function successCallback(response) {
                        // 檢查是否有檢核錯誤
                        if (response.data.status === 0) {
                            // 更新資料
                            $scope.userDevices[$scope.updateIndex] = response.data.data;
                            // 清除 Form
                            $scope.macAddress = '';
                        } else if (response.data.status === -1) {
                            alert(response.data.message);
                        } else {
                            alert(response);
                        }
                        // 關閉等待視窗
                        jQuery('#ajaxWaitingModal').modal("hide");

                    }, function errorCallback(response) {
                        alert("執行發生錯誤!!");
                        var myWindow = window.open("", "", "width=600,height=300", false);
                        myWindow.document.write(JSON.stringify(response.data));
                        // 關閉等待視窗
                        jQuery('#ajaxWaitingModal').modal("hide");
                    });
                }
            }
        });

    app.controller('ApplyCtrl', function($scope, $http, userService) {


        // Submit 新增 or 修改
        $scope.submit = function() {
            // 檢查是否達新增上限
            if ($scope.addMode == true && $scope.userDevices.length >= $scope.deviceLimit) {
                alert('申請數量已達上限。');
                return;
            }

            // 檢查網卡格式
            var macRegex = new RegExp("^([0-9a-fA-F][0-9a-fA-F]:){5}([0-9a-fA-F][0-9a-fA-F])$");
            if (!macRegex.test($scope.macAddress)) {
                alert('網卡格式有問題，請重新確認。');
                return;
            }

            if ($scope.addMode == true && $scope.updateMode == false) {
                userService.addUserDevice($scope, $http);
            } else if ($scope.addMode == false && $scope.updateMode == true) {
                userService.updateUserDevice($scope, $http);
            } else {
                alert('系統前端網頁異常! 請重新登入!!');
            }


        };

        // Delete UserDevice
        $scope.deleteUserDevice = function(deleteIndex) {
            var deviceName = $scope.userDevices[deleteIndex]['deviceName'];

            jQuery('#ajaxWaitingModal').modal("show");
            $http({
                method: 'DELETE',
                url: '/web/user/delete',
                params: {
                    'deviceName': deviceName
                }
            }).then(function successCallback(response) {
                console.info(response);
                // 刪除資料
                $scope.userDevices.splice(this.deleteIndex, 1);

                // 關閉等待視窗
                jQuery('#ajaxWaitingModal').modal("hide");
            }, function errorCallback(response) {
                alert("執行發生錯誤!!");
                var myWindow = window.open("", "", "width=600,height=300", false);
                myWindow.document.write(JSON.stringify(response.data));
                // 關閉等待視窗
                jQuery('#ajaxWaitingModal').modal("hide");

            });
        }

        // 設定為 修改模式
        $scope.setUpdateMode = function(userDevice, updateIndex) {
            $scope.addMode = false;
            $scope.updateMode = true;
            $scope.updateIndex = updateIndex;
            $scope.macAddress = userDevice.macAddress;
        }

        // 設定為 新增模式
        $scope.setAddMode = function() {
            $scope.addMode = true;
            $scope.updateMode = false;
            $scope.updateIndex = -1;
            $scope.macAddress = '';
        }

        // 初始化作業
        $http({
            method: 'GET',
            url: '/web/user/initial'
        }).then(function successCallback(response) {
            console.info(response);
            $scope.status = response.data.status;

            if ($scope.status == -1) {
                alert(response.data.message);
                return;
            }

            $scope.deviceLimit = response.data.data.deviceLimit;
            $scope.userDevices = response.data.data.userDevices;
            $scope.applicantId = response.data.data.applicantId;
            $scope.applicantName = response.data.data.applicantName;
            $scope.applicantTitle = response.data.data.applicantTitle;

            // 預設為 新增模式
            $scope.addMode = true;
            $scope.updateMode = false;

        }, function errorCallback(response) {
            console.info(response);

        });

    });
    </script>
    <style>
    .modal-vertical-centered-for-ajax_waiting {
        transform: translate(0, 200%) !important;
        -ms-transform: translate(0, 200%) !important;
        -webkit-transform: translate(0, 200%) !important;
    }
    </style>
</head>

<body ng-controller='ApplyCtrl'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal well well-sm">
                    <img src="/images/ban.jpg" class="img-fluid center-block" alt="Responsive image">
                </div>
            </div>
            <div class="col-md-12">
                <form ng-submit="submit()">
                    <div class="form-horizontal well well-sm">
                        <fieldset>
                            <legend>
                                <h3><p class="text-center">校園無線網路網卡登記系統</p></h3></legend>
                            <div class="form-group">
                                <label class="col-md-2 control-label">帳號 ID</label>
                                <div class="col-md-4">
                                    <input ng-model="applicantId" class="form-control" type="text" disabled required>
                                </div>
                                <label class="col-md-2 control-label">申請者姓名</label>
                                <div class="col-md-4">
                                    <input ng-model="applicantName" class="form-control" type="text" disabled required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">職稱</label>
                                <div class="col-md-4">
                                    <input ng-model="applicantTitle" class="form-control" type="text" disabled required>
                                </div>
                                <label class="col-md-2 control-label">網卡卡號</label>
                                <div class="col-md-4">
                                    <input ng-model="macAddress" class="form-control" placeholder="00:FF:95:9F:68:16" type="text" required>
                                </div>
                            </div>
                            <!-- add button -->
                            <div class="form-group" ng-show="addMode">
                                <div class="col-md-offset-5 col-md-3">
                                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="status != 0">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true">新增網卡</span>
                                    </button>
                                    <p class="help-block">每個用戶最多申請 {{deviceLimit}} 個無線網路</p>
                                </div>
                            </div>
                            <!-- update button -->
                            <div class="form-group" ng-show="updateMode">
                                <div class="col-md-offset-5 col-md-3">
                                    <button type="submit" class="btn btn-warning btn-block" ng-disabled="status != 0">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">確認更新</span>
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-default btn-block" ng-click="setAddMode()" ng-disabled="status != 0">
                                        <span class="glyphicon glyphicon-refresh" aria-hidden="true">取消更新</span>
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>編號</th>
                            <th>設備名稱</th>
                            <th>網路卡卡號</th>
                            <th>申請者 ID</th>
                            <th>申請者 姓名</th>
                            <th>申請日期</th>
                            <th>申請時間</th>
                            <th>修改</th>
                            <th>刪除</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="userDevice in userDevices">
                            <th>{{ $index + 1}}</th>
                            <td>{{userDevice.deviceName}}</td>
                            <td>{{userDevice.macAddress}}</td>
                            <td>{{userDevice.applicantId}}</td>
                            <td>{{userDevice.applicantName}}</td>
                            <td>{{userDevice.applicantDate}}</td>
                            <td>{{userDevice.applicantTime}}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-warning" ng-click="setUpdateMode(userDevice, $index)">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-danger" ng-click="deleteUserDevice($index)">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-12 text-center">
                    <div id="page-selection"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ajax Waiting Modal-->
    <div class="modal fade" id="ajaxWaitingModal" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-vertical-centered-for-ajax_waiting">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5>Processing.....</h5>
                </div>
                <div class="modal-body">
                    <div id="ajaxWaiting" class="ajaxWaiting">
                        <img src="images/progressBar.gif">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
